*{
	font-family: futura, sans-serif;
}
.wrapper{
    margin-left: auto;
    margin-right:auto;
    width: 80%;
}
h1{
    font-size: 5em;
    font-weight: 100;
    display: inline-block;
}
h2{
    font-size: 3em;
    font-weight: 100;
    display: inline-block;
}
p{
    font-size: 1.8em;   
}
#nameWrapper{
    font-weight: 700;
}

.big-icon{
    padding-top: 0vh;
    padding-right: 3vw;
    font-size: 3em !important;
    color: black;
}
.icon-devpost{
    //asdf   
}
.centered{
    position:relative;
    left:50%;
    transform:translate(-50%,0);
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}