$red: #EC644B;
$gray: #7f8c8d;
$dark-blue: #34495e;
/* General element styles */
html, body{
	font-family: "Varela Round", "Roboto", sans-serif;
	margin: 0;
}
h1 {
  font-size: 3em;
  margin-bottom: 1vh;
}
p {
	line-height: 1.3;
	font-size: 1.3em;
	margin: 0;
	font-family: "Roboto", "Varela Round", sans-serif;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  margin: 1em 0;
  padding: 0; 
}
strong {
	font-weight: 700;
}
/* Utilities */
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  .valign {
  	display: block;
	}
}
.slant {
	-ms-transform: skewY(-3deg); /* IE 9 */
  -webkit-transform: skewY(-3deg); /* Safari */
  transform: skewY(-3deg);
  > * {
	 	ms-transform: skewY(3deg); /* IE 9 */
	  -webkit-transform: skewY(3deg); /* Safari */
	  transform: skewY(3deg);
  }
}

header {
  background: white;
  min-height: 50vh;
  margin-top: -10vh;
  @media(max-width: 768px) {
  	min-height: 90vh;
  	padding: 5vh;
  }
  > div {
  	padding-left: 5vw;
  	margin-top: 5vh;
  	color: $red;
  	@media(min-width: 769px) {
	  	width: 70%;
	  }
  	h1 {
  		font-size: 3.5em;
  		margin: 1vh;
  	}
  	p {
  		margin: 0;
  		font-size: 1.5em;
  		color: $gray;
  	}
  }
  i {
  	padding-right: 5vw;
  	padding-top: 2vh;
  	color: $gray;
  	transition: color 0.5s ease;
  }
  i:hover {
  	color: $dark-blue;
  }
}

#projects {
	margin: 0;
	padding: 10vh;
	background-color: $dark-blue;
	color: white;
	.project {
		min-height: 50vh;
		h2 {
			font-size: 2.5em;
			margin-bottom: 2vh;
		}
		h3 {
			font-size: 1.7em;
			margin-bottom: 2vh;
		}
		img {
			width: auto;
			height: 50vh;
		}
		.info {
			.award {
				font-size: 1.3em;
				font-weight: bold;
			}
		}
		@media (min-width: 601px) {
			&.img-left {
				img {
					float: left;
					padding-right: 2vw;
				}
			}
			&.img-right {
				img {
					float: right;
					padding-left: 2vw;
				}
			}
		}
		@media (max-width: 600px) {
			img {
				width: 100%;
				height: auto;
				margin-bottom: 1vw;
			}
			h2 {
				margin-top: 0;
			}
			margin-top: 10vh;
		}
	}
}

#teaching {
	margin: 0;
	padding: 10vh;
	background-color: white;
	color: $red;
	h2 {
		font-size: 2.5em;
		margin-bottom: 2vh;
	}
	h3 {
		font-size: 1.7em;
		margin-bottom: 2vh;
	}
	p, h3 {
		color: $gray;
	}
	hr {
		border-top: 1px solid $red;
	}
}

#awards {
	margin: 0;
	padding: 10vh;
	background-color: $dark-blue;
	color: white;
	h3 {
		font-size: 1.7em;
		margin-bottom: 2vh;
	}
}
#awards::after {
	content: "";
	background: $dark-blue;
	z-index: -1;
	height: 30vh;
	position: absolute;
	bottom: -5vh;
	right: 0;
	left: 0;
	-ms-transform: skewY(3deg); /* IE 9 */
  -webkit-transform: skewY(3deg); /* Safari */
  transform: skewY(3deg);
}